.videos{
    flex:0.82;
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
}

.videos > h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}

.videocards{
    display: flex;
    flex-wrap: wrap;    
}