.videoCard{
    width: 270px;
    margin-bottom: 40px;
}

.videoThumbnail{
    height: 140px;
    width: 250px;
}

.videoInfo{
    display: flex;
    padding-right: 30px;
    margin-top: 10px;
}

.videoText{
    margin-left: 14px;
}

.videoText > h4{
    font-size: 15px;
    margin-bottom: 5px;
}

.videoText > p {
    font-size: 14px;
    color: gray;
}

.videoAvatar {
    height: 30px !important;
    width: 30px !important;
}